body {
    background-color: rgb(238, 245, 219);
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 15px;
  }
  
  h1, h2 {
    font-family: cursive;
  }
  
  .menu-link {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  
  main {
    width: 80vw;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  .text-content {
    font-size: 1.2em;
  }
  
  header {
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(16, 29, 66);
  }
  
  footer {
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(16, 29, 66);
  }
  
  p {
    color: green;
  }
  a {
    color: red;
  }
  a:hover {
    color: blue;
    font-size: 50px;
  }
  
  ul {
    list-style-position: inside;
  }
  table,
  td {
    border: 5px solid;
    width: 50%;
  }

  img {
    border-radius: 8px;
    width: 400px;
    height: 400px;
    filter: contrast(8);
  }
  
  